body {
    font-size:20px;
    width:70%;
    font-family: "Space Mono", monospace;
    
    margin:auto;
}

nav {
    padding:1rem;
}

nav ul li a{
    text-decoration: none;
}

h1,h2,h3 {
    font-weight:bold;
}

.flexbox {
    display:flex;
    justify-content: space-evenly;
}

.main {
    line-height: 1.2;
}

ul .flexbox{
    
    justify-content:center;
}

#about {
    display:inline-flex;
    margin:5% auto;
    height:18rem;
}

#about h3 {
    margin-bottom: 1rem;
}

#about img {
    max-width: 30%;
    height:auto;
    object-fit:scale-down;
    margin: 2%;
    border-radius: 0.5rem;
    width: 15rem;
}

#projects {
    margin: 5% auto;
    flex-direction: column;
}

.project {
    cursor: pointer;
}

.project-title h3 {
    display:inline;
}

#skills .flexbox {
    justify-content: space-around;
    margin-top: 1rem;
    font-size: larger;
}

.contact a{
    text-decoration: none;
    color: black;
}

.contact i {
    padding: 2% 3%;
    display: inline-flex;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }

    #about {
        flex-direction: column;
        height: auto;
    }

    #about img {
        max-width: 100%;
    }

    nav {
        display: flex;
        margin: auto 5%;
    }
}
